/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.u-d-fx {
  display: flex;
}

.u-fx-wrap {
  flex-wrap: wrap;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-w-100 {
  width: 100%;
}

.u-ta-r {
  text-align: right;
}

.u-b {
  border: 1px solid #6b778c;
}

.u-b-t {
  border-top: 1px solid #6b778c;
}

.u-b-r {
  border-right: 1px solid #6b778c;
}

.u-b-l {
  border-left: 1px solid #6b778c;
}

.u-b-b {
  border-bottom: 1px solid #6b778c;
}

.u-p-2 {
  padding: 0.5rem;
}

.u-pt-1 {
  padding-top: 0.25rem;
}
.u-pt-2 {
  padding-top: 0.5rem;
}
.u-pt-3 {
  padding-top: 0.7rem;
}
.u-mt-1 {
  margin-top: 0.25rem;
}
.u-mt-2 {
  margin-top: 0.5rem;
}
.u-mt-3 {
  margin-top: 0.7rem;
}

.u-fw-bold {
  font-weight: 600;
}
